#page-wrap { width: 80%; margin: 60px auto; }
#page-wrap > div { margin: 0 0 50px 0; min-width: 500px; width: 100%; }

.group:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.group { display: inline-block; }

.four-columns { 
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #eee),
		color-stop(25%, #eee),
		color-stop(25%, #ccc),
		color-stop(50%, #ccc),
		color-stop(50%, #eee),
		color-stop(75%, #eee),
		color-stop(75%, #ccc),
		color-stop(100%, #ccc)
	);   	
	background-image: -webkit-linear-gradient(
		left, 
		#eee, 
		#eee 25%,
		#ccc 25%,
		#ccc 50%,
		#eee 50%,
		#eee 75%,
		#ccc 75%,
		#ccc 100%
	);
	background-image: -moz-linear-gradient(
		left, 
		#eee, 
		#eee 25%,
		#ccc 25%,
		#ccc 50%,
		#eee 50%,
		#eee 75%,
		#ccc 75%,
		#ccc 100%
	);
	background-image: -ms-linear-gradient(
		left, 
		#eee, 
		#eee 25%,
		#ccc 25%,
		#ccc 50%,
		#eee 50%,
		#eee 75%,
		#ccc 75%,
		#ccc 100%
	);
	background-image: -o-linear-gradient(
		left, 
		#eee, 
		#eee 25%,
		#ccc 25%,
		#ccc 50%,
		#eee 50%,
		#eee 75%,
		#ccc 75%,
		#ccc 100%
	);
}
		.four-columns .col {
			width: 21%; float: left; padding: 2%;
		}