@charset "UTF-8";

@media(max-width:991px){
    .block1{
        padding-bottom: 50px;
    }
    .form {
        width: 300px;
    }
    .form p input, .form p textarea {
        width: 300px;
    }
}
@media(max-width:767px){
    .form {
        width: 500px;
    }
    .form p input, .form p textarea {
        width: 500px;
    }
    .maps {
        text-align: center;
        padding-top: 30px;
    }
    .info1, .info2, .info3{
        text-align: center;
    }
    .info1{
        padding-bottom: 10px;
    }
}
@media(max-width:500px){
    .form {
        width: 400px;
    }
    .form p input, .form p textarea {
        width: 400px;
    }
    .logo{
        text-align: center;
        padding-bottom: 20px;
    }
    .more{
        text-align: center;
        padding-top: 20px;
    }
    .header{
        padding-bottom: 30px;
    }
    .contact_phone, .contact_mail{
        text-align: center;
    }
    .paragraph {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (max-width:480px) { 

}