body {
  margin: 0;
  padding-top: 75px;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: -75px;
  background-color: #f7fdfe;
  padding: 20px;
}
.header-button {
  display: inline-block;
  margin: 0 10px;
  background-color: #68c7d8;
  border-radius: 3px;
  border: solid 1px #104c57;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
}
.header-button:hover{
  background: #d3d35d;
}
.content-area {
  display: block;
  float: left;
  width: 70%;
}
.left-nav {
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 10px;
  width: 30%;
  padding: 30px;
  font-family: sans-serif;
  border: 1px solid #0ebfdd;
}
 
.left-nav > .button {
  display: block;
  width: 100%;
  background-color: #68c7d8;
  border-radius: 3px;
  border: solid 1px #104c57;
  padding: 10px;
  margin: 10px 0;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  outline: none;
  transition: 0.3s;
}
.left-nav > .button:hover{
  background: #d3d35d;
}
.main-area {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 60%;
  padding: 30px;
  margin: 10px;
  color: darkgray;
  font-family: sans-serif;
  border: 1px solid #0ebfdd;
}
.text{
  text-align: left;
  font-size: 18px;
  color: #000;
}


